# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Data (important for ML projects)
datasets/

# Mac system files
.DS_Store

# Model artifacts
housing_price_project/my_california_housing_model.pkl
*.pkl
